.app {
  background-color: #06202a;
  color: #e0e0e0;
  min-height: 100%;
}
.icons {
  color: #e0e0e0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header>img{
  height:80px;
  width:200px;
  text-align: center;
  object-fit: contain;
  padding: 10px 20px;
}
.HeaderItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}
.HeaderItem > p {
  letter-spacing: 1.2px;
  opacity: 0;
  cursor: pointer;
}
.HeaderItem:hover > p {
  opacity: 1;
  color: white;
}

.header_item_container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.nav_item{
  display: flex;
  text-transform: capitalize;
  white-space: nowrap;
  overflow-x: scroll;
  padding: 10px;
  padding-left: 40px;
}
.nav_item::-webkit-scrollbar{
  display: none;
}
.nav_item>a{
  color:white;
  text-decoration: none;
  letter-spacing: 1.2px;
  margin:0px 30px;
  white-space: none;
  font-weight: 500;
  opacity: 0.7;
  transition: transform 50ms ease-out;
}
.nav_item>a:hover{
  opacity: 1;
  text-decoration: none;
  transform: scale(1.2);
}
.nav_item>a:active{
  color:red;
}
.movie_list{
  overflow: hidden;
}
.vedio_card{
  color:white;
  width: 500px;
  height: 100%;
  cursor: pointer;
  padding: 20px;
  transition: transform 100ms ease-out;
}
.vedio_card:hover{
  transform: scale(1.05);
  
}
.vedio_card>img{
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}
.vedio_card>h2{
  padding-top:10px;
  font-size: 20px;
  
}
.vedio_card>p{
  padding-top:5px;
  font-size: 12px;
  opacity: 0.9;
}
.vedio_like{
  visibility: hidden;
}
.vedio_card:hover>.vedio_like{
  visibility: visible;
}
.movie_list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}


@media screen and (max-width: 426px){
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .header>img{
    height:80px;
  }

  
}
@media screen and (min-width: 768px){
  
}
@media screen and (min-width: 2560px){
  
}